<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="GHOST_API_URL" value="https://tests.ghost.io"/>
        <env name="GHOST_CONTENT_KEY" value="qwe rty"/>
<!--        <env name="GHOST_API_URL" value="http://localhost:2369"/>-->
<!--        <env name="GHOST_CONTENT_KEY" value="2b3934d798ccce67daacdc8adb"/>-->
    </php>
</phpunit>
